<div id="toc" class="toc"><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Configure_the_ModelType_.2F_Graphics"><span class="tocnumber">1</span> <span class="toctext">Configure the ModelType / Graphics</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Sample_Page"><span class="tocnumber">2</span> <span class="toctext">Sample Page</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#The_Warning_Section"><span class="tocnumber">3</span> <span class="toctext">The Warning Section</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#The_Configuration_Section"><span class="tocnumber">4</span> <span class="toctext">The Configuration Section</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Examples"><span class="tocnumber">5</span> <span class="toctext">Examples</span></a></li>
</ul>
</div>

<h3><span class="mw-headline" id="Configure_the_ModelType_.2F_Graphics">Configure the ModelType / Graphics</span></h3>
<p>Documentation for <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_Chart" title="Customizing:Configure Chart">Customizing:Configure_Chart</a>
</p><p>The Graphics of the process is configured by making changes to the page <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_Chart" title="Customizing:Configure Chart">Customizing:Configure_Chart</a>.
</p>
<h2><span class="mw-headline" id="Sample_Page">Sample Page</span></h2>
<p>Sample <code>Configure_Chart</code> Page:
</p>
<pre> Some Text with Warning why this page should not be edited.
 == Configuration ==
 *Sample_Configure_ChartType
 **PageType Shape Color_of_Shape [Color_of_Font Defaults to Black]
 **PageType Shape Color_of_Shape Color_of_Font
</pre>
<p>The Configure_Chart Page is divided into two Section.
</p>
<ul><li> The "Warning" Section</li>
<li> The "Configuration" Section.</li></ul>
<h2><span class="mw-headline" id="The_Warning_Section">The Warning Section</span></h2>
<p>The Warning Section is the initial Text in the page and is not parsed. 
It ends at <code>== Configuration ==</code>
</p>
<h2><span class="mw-headline" id="The_Configuration_Section">The Configuration Section</span></h2>
<p>The Configuration Section starts with <code>== Configuration ==</code>
It contains the definition for one or more chart types.
</p><p>The definition of a configuration is:
</p>
<pre> *Configure_&lt;ChartType_1&gt;
 **&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
 *Configure_&lt;ChartType_2&gt;
 **&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt; Defaults to Black]
</pre>
<p>Sample:
</p>
<pre> *Configure_EPK
 **Event      hexagon        azure3
 **Decision   diamond        azure3
 **Function   parallelogram  azure3
 **DataSource rect           khaki1
 **Person     box            chartreuse1
 **Department ellipse        chartreuse1
 **Product    rect           yellow
</pre>
<ul><li> First line: <code>*Configure_&lt;ChartType&gt;</code>
<ul><li> Only Groups starting with <code>*Configure</code> are parsed. If you want to disable a configuration, renaming it to something different (like <code>Disabled_Configure</code> will disable this configuration block.</li>
<li> <code>ChartType</code> defines the Type of the Chart e.g. "EPK" or "Flat". This is the type of the Diagram that is being used.</li></ul></li>
<li> Definition of PageTypes on the next lines:
<ul><li> <code>PageType</code> defines the Pagetypes being used in this Diagram, for Example "Person", "Function", "Event", "Decision" etc.</li>
<li> <code>Shape</code> defines the Shape that is being used. The Definition of the shape is taken from the GraphViz Documentation at [<a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/doc/info/shapes.html">[1]</a>]. Please be aware that not all shapes are supported/working.</li>
<li> <code>Color_of_Shape</code> defines the color that is used to render the shape. The name of the colors and a color table can be seen at [<a rel="nofollow" class="external autonumber" href="http://graphviz.org/doc/info/colors.html">[2]</a>]</li>
<li> <code>Color_of_Font</code> defines that color of the font that is used for writing the name of the process-step into the shape. If not given, it defaults to black. The same table of colors applies as before.</li></ul></li></ul>
<h2><span class="mw-headline" id="Examples">Examples</span></h2>
<p>Active configuration Block:
</p>
<pre> *Configure_EPK
 **Event      hexagon        azure3
 **Decision   diamond        azure3
 **Function   parallelogram  azure3
 **DataSource rect           khaki1
 **Person     box            chartreuse1
 **Department ellipse        chartreuse1
 **Product    rect           yellow
</pre>
<p>Disabled Configuration Block:
</p>
<pre> *Disabled_Configure_EPK
 **Event      hexagon        azure3
 **Decision   diamond        azure3
 **Function   parallelogram  azure3
 **DataSource rect           khaki1
 **Person     box            chartreuse1
 **Department ellipse        chartreuse1
 **Product    rect           yellow
</pre>
<!-- 
NewPP limit report
CPU time usage: 0.014 seconds
Real time usage: 0.016 seconds
Preprocessor visited node count: 18/1000000
Preprocessor generated node count: 24/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:77-1!*!0!!en!*!* and timestamp 20180510104957 and revision id 493
 -->
