<p><map name='4792d8b03f8d63983ce4d2a04eff6677'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#4792d8b03f8d63983ce4d2a04eff6677' src='/wiki/images/flowchartwiki/4792d8b03f8d63983ce4d2a04eff6677.png?TimeStamp=20150729131128' />
</p>
<div id="toc" class="toc"><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Customizing_your_Installation"><span class="tocnumber">1</span> <span class="toctext">Customizing your Installation</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Import_default_customizing"><span class="tocnumber">2</span> <span class="toctext">Import default customizing</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Installation_on_a_remote_system"><span class="tocnumber">2.1</span> <span class="toctext">Installation on a remote system</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Installation_on_a_local_system"><span class="tocnumber">2.2</span> <span class="toctext">Installation on a local system</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Importing_the_default_Customizing"><span class="tocnumber">2.3</span> <span class="toctext">Importing the default Customizing</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Optional_imports"><span class="tocnumber">2.4</span> <span class="toctext">Optional imports</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#Customizing:Configure_Chart_Page.28s.29"><span class="tocnumber">3</span> <span class="toctext">Customizing:Configure_Chart Page(s)</span></a>
<ul>
<li class="toclevel-2 tocsection-8"><a href="#ModelType_determines_the_Chart_Type"><span class="tocnumber">3.1</span> <span class="toctext">ModelType determines the Chart Type</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Configure_the_ModelType_.2F_Graphics"><span class="tocnumber">3.2</span> <span class="toctext">Configure the ModelType / Graphics</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Available_Shapes_and_Colors"><span class="tocnumber">3.3</span> <span class="toctext">Available Shapes and Colors</span></a>
<ul>
<li class="toclevel-3 tocsection-11"><a href="#Using_a_different_Font"><span class="tocnumber">3.3.1</span> <span class="toctext">Using a different Font</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1 tocsection-12"><a href="#Sample_Customizing:_Page"><span class="tocnumber">4</span> <span class="toctext">Sample Customizing: Page</span></a>
<ul>
<li class="toclevel-2 tocsection-13"><a href="#The_Warning_Section"><span class="tocnumber">4.1</span> <span class="toctext">The Warning Section</span></a></li>
<li class="toclevel-2 tocsection-14"><a href="#The_Configuration_Section"><span class="tocnumber">4.2</span> <span class="toctext">The Configuration Section</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-15"><a href="#Examples"><span class="tocnumber">5</span> <span class="toctext">Examples</span></a></li>
</ul>
</div>

<h2><span class="mw-headline" id="Customizing_your_Installation">Customizing your Installation</span></h2>
<p>Besides standard options to modify and customize your MediaWiki installation, FlowchartWiki has some additional customizing options.
</p><p>Customizing is used to define the shapes and colors used in the diagrams created by FlowchartWiki.
You can create customizing settings for different types of processes (EPK/Aris, "plain vanilla", ...) and use them in your process diagrams.
Each Process needs to have one process-type assigned.
</p><p>The standard distribution of FlowchartWiki includes a set of standard customizing pages that you can import (described below) and modify/adapt to your needs. The detailed documentation on how to set up the customizing is given below as well.
</p><p><br />
</p>
<h2><span class="mw-headline" id="Import_default_customizing">Import default customizing</span></h2>
<h3><span class="mw-headline" id="Installation_on_a_remote_system">Installation on a remote system</span></h3>
<ul><li> Importing the customizing requires an upload of prepared wikipages from your local system to the remote system.</li>
<li> The pages which will be uploaded are part of the flowchartwiki distribution and are located in the flowchartwiki/maintenance directory.</li>
<li> Download flowchartwiki to your local system or download the flowchartwiki/maintenance directory from your server to your local system.</li></ul>
<h3><span class="mw-headline" id="Installation_on_a_local_system">Installation on a local system</span></h3>
<ul><li> locate the flowchartwiki/maintenance directory in your filesystem (it could be in ./apache2/htdocs/wiki/extensions/flowchartwiki/maintenance)</li></ul>
<h3><span class="mw-headline" id="Importing_the_default_Customizing">Importing the default Customizing</span></h3>
<ul><li> In mediawiki choose Special pages/Import pages. </li>
<li> Import the file import_customizing.xml (For sample contents see <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_Chart" title="Customizing:Configure Chart">Customizing:Configure_Chart</a>)</li></ul>
<h3><span class="mw-headline" id="Optional_imports">Optional imports</span></h3>
<ul><li> Import the file import_ShapeTest.xml (For a Demo on this site see <a href="http://www.flowchartwiki.org/wiki/index.php/Category:ShapeTest" title="Category:ShapeTest">Category:ShapeTest</a>)</li>
<li> Import the file import_FlightBooking.xml (For a Demo on this site see <a href="http://www.flowchartwiki.org/wiki/index.php/Category:Flightbooking" title="Category:Flightbooking">Category:Flightbooking</a>)</li></ul>
<p><br />
</p>
<h2><span class="mw-headline" id="Customizing:Configure_Chart_Page.28s.29">Customizing:Configure_Chart Page(s)</span></h2>
<p>See <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_Chart" title="Customizing:Configure Chart">Customizing:Configure_Chart</a> for a Sample.
</p>
<h3><span class="mw-headline" id="ModelType_determines_the_Chart_Type">ModelType determines the Chart Type</span></h3>
<p>Each Category Page that you use for documenting a Proces needs to contain one <code>ModelType</code> Tag like the one shown below.
</p>
<pre>
  [[ModelType::EPK]]</pre>
<p><code>EPK</code> defines that for this process the colors and shape types will be based on the EPK diagram definition in Customizing.
</p>
<h3><span class="mw-headline" id="Configure_the_ModelType_.2F_Graphics">Configure the ModelType / Graphics</span></h3>
<p>For each ModelType a customizing is required to define the shapes and colors used.
To define the customizing of a ModelType you have two options:
</p>
<ul><li> Use an individual Wiki Page (<code>Customizing:Configure_EPK</code>) to define the customizing for this ModelType.</li>
<li> Use the Generic <code>Customizing:Configure_Chart</code> Wiki Page to define the customizing.</li></ul>
<p>The first option has the advantage that this page can easily be exported and moved to other wikis or be distributed with your process documentation.
</p><p>The lookup for Customizing is made in the order:
</p>
<ol><li> <code>Customizing:Configure_[ModelType]</code></li>
<li> <code>Customizing:Configure_Chart</code></li></ol>
<p>If no customizing for the specified Modeltype is found, a standard round shape and Black&amp;White color is used. (You may have seen this when doing your first install with the "Test" Process. After you have imported the Customizing, the Diagrams looked different.)
</p>
<h3><span class="mw-headline" id="Available_Shapes_and_Colors">Available Shapes and Colors</span></h3>
<p>Node-Shapes:<br />
Please see <a href="http://www.flowchartwiki.org/wiki/index.php/Category:ShapeTest" title="Category:ShapeTest">Category:ShapeTest</a> for a preview of all shapes supported by this GraphViz installation. As you can see from the Graph, not all shape types are supported currently. If you would like to test it or have it as a reference on your local installation, import the file <code>import_ShapeTest.xml</code> from the maintenance directory of your flowchartwiki distribution.
</p><p>Colors:<br />
Please see <a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/doc/info/colors.html">[1]</a> for the list of available Colors.
</p><p>Arrows:<br />
</p>
<ul><li> Please see <a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/doc/info/arrows.html">[2]</a> for the list of available arrows.</li>
<li> Colors: as above</li>
<li> Line-Types: solid, dashed (- - -), dotted (.....)</li>
<li> Label: free text</li></ul>
<h4><span class="mw-headline" id="Using_a_different_Font">Using a different Font</span></h4>
<p>The font used by graphviz for the text inside the chart boxes can be changed by modifying the FlowchartWiki php script. (Thanks to Gustav from Gothenburg, Sweden)<br />
</p><p>Edit <code>categoryBrowser.php</code> function <code>findPages()</code>, approx. line 168.
</p>
<ul><li> from: <code>$params="";</code></li>
<li> to: <code>$params="fontname=\"helvetica\", ";</code></li></ul>
<p>For available fonts please check the graphviz documentation. <a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/content/attrs#dfontname">[3]</a>
</p>
<h2><span class="mw-headline" id="Sample_Customizing:_Page">Sample Customizing: Page</span></h2>
<p>Sample <code>Configure_Chart</code> Page:
</p>
<pre> Some Text with Warning why this page should not be edited.
 == Configuration ==
 *Sample_Configure_ChartType
 **Nodes
 ***PageType Shape Color_of_Shape [Color_of_Font Defaults to Black]
 ***PageType Shape Color_of_Shape Color_of_Font
</pre>
<p>The Configure_Chart Page is divided into two Section.
</p>
<ul><li> The "Warning" Section</li>
<li> The "Configuration" Section.</li></ul>
<h3><span class="mw-headline" id="The_Warning_Section">The Warning Section</span></h3>
<p>The Warning Section is the initial Text in the page and is not parsed. 
It ends at <code>== Configuration ==</code>
</p>
<h3><span class="mw-headline" id="The_Configuration_Section">The Configuration Section</span></h3>
<p>The Configuration Section starts with <code>== Configuration ==</code>
It contains the definition for one or more chart types.
</p><p><b>Differences between configuration formats</b><br />
1.2:
</p>
<pre> *Configure_&lt;ChartType_1&gt;
 **Nodes
 ***[Category &lt;Shape&gt; &lt;Color_of_Shape&gt;]
 ***&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
 **Arrows
 ***&lt;LinkType&gt; &lt;Arrow-Shape&gt; &lt;Color_of_Arrow&gt; [&lt;Type_of_line&gt;] [&lt;Arrow_label&gt;]
</pre>
<p>1.1:
</p>
<pre> *Configure_&lt;ChartType_1&gt;
 **Nodes
 ***&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
 **Arrows
 ***&lt;LinkType&gt; &lt;Arrow-Shape&gt; &lt;Color_of_Arrow&gt; [&lt;Type_of_line&gt;] [&lt;Arrow_label&gt;]
</pre>
<p>1.0:
</p>
<pre> *Configure_&lt;ChartType_1&gt;
 **&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
</pre>
<p><br />
<b>Version 1.2 Configuration Format</b><br />
The definition of a configuration is:
</p>
<pre> *Configure_&lt;ChartType_1&gt;
 **Nodes
 ***[Category &lt;Shape&gt; &lt;Color_of_Shape&gt;]
 ***&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
 *Configure_&lt;ChartType_2&gt;
 **Nodes
 ***&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
 **Arrows
 ***&lt;LinkType&gt; &lt;Arrow-Shape&gt; &lt;Color_of_Arrow&gt; [&lt;Type_of_line&gt;] [&lt;Arrow_label&gt;]
</pre>
<p>Sample:
</p>
<pre> *Configure_EPK
 **Nodes
 ***Category   box            red
 ***Event      hexagon        azure3
 ***Decision   diamond        azure3
 ***Function   parallelogram  azure3
 ***DataSource rect           khaki1
 ***Person     box            chartreuse1
 ***Department ellipse        chartreuse1
 ***Product    rect           yellow
 **Arrows
 ***Yes        box            green          dashed      Yes
 ***No         diamond        #ffa0a0        solid       No
</pre>
<p><br />
</p>
<ul><li> First line: <code>*Configure_&lt;ChartType&gt;</code>
<ul><li> Only Groups starting with <code>*Configure</code> are parsed. If you want to disable a configuration, renaming it to something different (like <code>Disabled_Configure</code> will disable this configuration block.</li>
<li> <code>ChartType</code> defines the Type of the Chart e.g. "EPK" or "Flat". This is the type of the Diagram that is being used.</li></ul></li>
<li> Second line: <code>**Nodes</code>
<ul><li> starts the section where the PageTypes are defined.</li></ul></li>
<li> Definition of PageTypes on the next lines:
<ul><li> <b>New in 1.2.:</b>: Optional: <code>Category</code>: When this is included, it will show a clickable category-name on top of the chart.</li>
<li> <code>PageType</code> defines the Pagetypes being used in this Diagram, for Example "Person", "Function", "Event", "Decision" etc.</li>
<li> <code>Shape</code> defines the Shape that is being used. The Definition of the shape is taken from the GraphViz Documentation at [<a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/doc/info/shapes.html">[4]</a>]. Please be aware that not all shapes are supported/working.</li>
<li> <code>Color_of_Shape</code> defines the color that is used to render the shape. The name of the colors and a color table can be seen at [<a rel="nofollow" class="external autonumber" href="http://graphviz.org/doc/info/colors.html">[5]</a>]</li>
<li> <code>Color_of_Font</code> defines that color of the font that is used for writing the name of the process-step into the shape. If not given, it defaults to black. The same table of colors applies as before.</li></ul></li>
<li> <code>**Arrows</code> 
<ul><li>starts the definition block for the arrows.</li>
<li>If the Arrow is defined in the customizing, then the properties in the definition are applied. If it is not defined, it defaults to "normal" shape, "black" color, "solid" line and no label.</li></ul></li>
<li> Definition of the Arrows on the next lines:
<ul><li><code>&lt;LinkType&gt;</code> This is the type of the link that is used in the Wikipage. The <code>&lt;LinkType&gt;</code> has to be defined with the first letter capitalized as in "<code>Yes</code>". (Thanks to Michael G. from Cologne, Germany) Example links to wikipage <code>PageName</code> with the LinkType <code>Yes</code>. <pre>[[Yes::PageName]]</pre></li>
<li><code>&lt;Arrow-Shape&gt;</code> defines the "endpoint" of the arrow. See [<a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/doc/info/arrows.html">[6]</a>] for details. Defaults to "normal".</li>
<li><code>&lt;Color_of_Arrow&gt;</code> the same definition as in the colors of shapes applies, defaults to black.</li>
<li><code>[&lt;Type_of_line&gt;]</code>: solid (default), dashed (----), dotted (....)</li>
<li><code>[&lt;Arrow_label&gt;]</code>: The label that is attached to the line in the graph. Currently only one word is supported (no blanks).</li></ul></li></ul>
<p><br />
<b>Version 1.0.x Configuration Format</b><br />
The definition of a configuration is:
</p>
<pre> *Configure_&lt;ChartType_1&gt;
 **&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt;, Defaults to Black]
 *Configure_&lt;ChartType_2&gt;
 **&lt;PageType&gt; &lt;Shape&gt; &lt;Color_of_Shape&gt; [&lt;Color_of_Font&gt; Defaults to Black]
</pre>
<p>Sample:
</p>
<pre> *Configure_EPK
 **Event      hexagon        azure3
 **Decision   diamond        azure3
 **Function   parallelogram  azure3
 **DataSource rect           khaki1
 **Person     box            chartreuse1
 **Department ellipse        chartreuse1
 **Product    rect           yellow
</pre>
<h2><span class="mw-headline" id="Examples">Examples</span></h2>
<ul><li> <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_Chart" title="Customizing:Configure Chart">Customizing:Configure_Chart</a> for General Customizing</li>
<li> <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_EPK" title="Customizing:Configure EPK">Customizing:Configure_EPK</a> for EPK / Aris</li>
<li> <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing:Configure_ShapeTest" title="Customizing:Configure ShapeTest">Customizing:Configure_ShapeTest</a> for all the Shapes in the documentation of GraphViz</li></ul>
<p>Active configuration Block:
</p>
<pre> *Configure_EPK
 **Nodes
 ***Event      hexagon        azure3
 ***Decision   diamond        azure3
 ***Function   parallelogram  azure3
 ***DataSource rect           khaki1
 ***Person     box            chartreuse1
 ***Department ellipse        chartreuse1
 ***Product    rect           yellow
</pre>
<p>Disabled Configuration Block:
</p>
<pre> *Disabled_Configure_EPK
 **Nodes
 ***Event      hexagon        azure3
 ***Decision   diamond        azure3
 ***Function   parallelogram  azure3
 ***DataSource rect           khaki1
 ***Person     box            chartreuse1
 ***Department ellipse        chartreuse1
 ***Product    rect           yellow
</pre>
<ul><li> <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses" title="EnterProcesses">NextStep::EnterProcesses</a></li></ul>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'Customizing':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Blue">Rect_Blue</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses">EnterProcesses</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Installation">Installation</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td></tr></table>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Blue&amp;action=edit&amp;redlink=1" class="new" title="Rect Blue (page does not exist)">Type::Rect_Blue</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=1010&amp;action=edit&amp;redlink=1" class="new" title="1010 (page does not exist)">Level::1010</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.055 seconds
Real time usage: 0.063 seconds
Preprocessor visited node count: 87/1000000
Preprocessor generated node count: 136/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:27-1!*!0!!en!*!* and timestamp 20180510092000 and revision id 537
 -->
