<table>
<tr>
<td><map name='441d52ae53527847ecb96f78dcbf0815'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#441d52ae53527847ecb96f78dcbf0815' src='/wiki/images/flowchartwiki/441d52ae53527847ecb96f78dcbf0815.png?TimeStamp=20150729093914' />
</td>
<td valign="top"><br />&lt;---The currently selected Page is "highlighted" with a black background and white font
</td></tr></table>
<div id="toc" class="toc"><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Free_and_Open_Source"><span class="tocnumber">1</span> <span class="toctext">Free and Open Source</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#5_Minute_Introduction_to_FlowchartWiki_-_Business"><span class="tocnumber">2</span> <span class="toctext">5 Minute Introduction to FlowchartWiki - Business</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#5_Minute_Introduction_to_FlowchartWiki_-_Technical"><span class="tocnumber">3</span> <span class="toctext">5 Minute Introduction to FlowchartWiki - Technical</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#How_is_it_done.2C_exactly.3F"><span class="tocnumber">4</span> <span class="toctext">How is it done, exactly?</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Features"><span class="tocnumber">5</span> <span class="toctext">Features</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Optional_Features"><span class="tocnumber">6</span> <span class="toctext">Optional Features</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Limitations"><span class="tocnumber">7</span> <span class="toctext">Limitations</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Continue_with_Installation"><span class="tocnumber">8</span> <span class="toctext">Continue with Installation</span></a></li>
</ul>
</div>

<h2><span class="mw-headline" id="Free_and_Open_Source">Free and Open Source</span></h2>
<ul><li> Both, MediaWiki and the FlowchartWiki Extension, are free and Open Source and <a href="http://www.flowchartwiki.org/wiki/index.php/License" title="License"> licensed</a> under the GPL General Public License</li>
<li> Download for free, install it and use it for free</li>
<li> Modify the source if you wish</li></ul>
<h2><span class="mw-headline" id="5_Minute_Introduction_to_FlowchartWiki_-_Business">5 Minute Introduction to FlowchartWiki - Business</span></h2>
<ul><li> Use a Wiki to simplify the self-organizing of Teams and Business Processes</li>
<li> Simple and easy to use - very low training requirements</li>
<li> make the relevant information available to the person performing the task when and where it is needed - instead of hiding it in rarely updated binders somewhere hidden on a shelf</li>
<li> Team-Members can immediately follow up and contribute which results in </li>
<li> ongoing and up-to-date documentation of business processes and procedures</li>
<li> Integrate the process documentation into the daily work - by adding checklists and tips &amp; tricks to the documentation</li>
<li> Process improvement (Kaizen) is simplified: current documentation is available and incremental changes are easily documented and implemented</li>
<li> Proven MediaWiki Software - used by Wikipedia with thousands of pages and millions of users</li>
<li> just access it with your browser from any PC - no Software to install or distribute</li>
<li> simultaneous access - no files to share or distribute, no versions to monitor</li>
<li> export complete process documentation as a .pdf Document for archiving or other purposes</li>
<li> access to the documentation may be shared with "extended Valuestream Partners" - Customers or Suppliers to streamline the extended valuestream</li>
<li> easily convert your existing .doc based documentation and import it into the wiki</li></ul>
<p><b>From a consultants perspective:</b>
</p>
<ul><li> enable the client employees to "think process"</li>
<li> the work of the consultant in defining and documenting processes is immediately visible and transparent to the client</li>
<li> due to low training requirements, client employees can be easily integrated into the project and can contribute early on by adding information or giving feedback</li>
<li> easy and early integration of client employees results in client buy-in and quick wins</li></ul>
<h2><span class="mw-headline" id="5_Minute_Introduction_to_FlowchartWiki_-_Technical">5 Minute Introduction to FlowchartWiki - Technical</span></h2>
<ul><li> Based on <a class="external text" href="http://www.mediawiki.org">Mediawiki</a></li>
<li> Built on the popular "LAMP" Stack: Linux/Windows/Unix, Apache, mySQL/PostgreSQL, PHP</li>
<li> FlowchartWiki is implemented as an Extension to MediaWiki and adds just one table to the MediaWiki database</li>
<li> uses <a rel="nofollow" class="external text" href="http://www.graphviz.org">GraphViz</a> Graph creation Software to create the graphs</li>
<li> uses htmldoc and an extended pdfbook extension to create .pdf documentation of processes</li>
<li> implements a set of custom tags to create/display the graphs (see "How is it done, exactly?" below)</li>
<li> supports hierarchical categories - Processes of Processes (of Processes of...)</li>
<li> MediaWiki User-Management can be integrated with LDAP or other tools</li></ul>
<h2><span class="mw-headline" id="How_is_it_done.2C_exactly.3F">How is it done, exactly?</span></h2>
<p>After installing the Extension and adding a few tags to Category and Process pages, you are ready to run. This is a brief explanation on how it is done. Please see the full documentation for all the details.)<br />
A <b>category page</b> represents a Process. Three Tags are added to a category page:
</p>
<pre>
  &lt;CategoryBrowser /&gt;
  [[ModelType::Draw]]
  [[Type::Process]]</pre>
<ul><li> CategoryBrowser: The CategoryBrowser tag displays the process diagram on the current page. </li>
<li> ModelType: The "ModelType" tag selects a Process Type and defines the shapes and colors used for the diagrams. used. (This could be EPK, FlowChart, etc. and is fully customizable).</li>
<li> Type::Process tags this page as being a Process, when added to another category as a sub-process.</li></ul>
<p>A <b>Wiki Page</b> represents a step within a process. Only a few tags are added to a single wiki page:
</p>
<pre>
  [[NextStep::Customizing]]
  &lt;Dependencies /&gt;
  [[Type::Rect_Green]]
  [[Level::0995]]
  [[Category:GettingStarted]]</pre>
<ul><li> NextStep::Customizing tags a Link to a "next process step". NextStep could also be "performedBy", "uses", etc. and is freely assignable. This describes the type of link to another wikipage. There is no limit in linking to other pages.</li>
<li> Dependencies: This tag creates a table inside the current wikipage that shows "who links here" and "where do I link to" including the types of links. Using this tag is optional.</li>
<li> Type::Rect_Green: Describes the type of this page and determines via the customizing what type of shape and color is used for displaying this process step in the diagram. Here we used a Modeltype::Draw tag in the process definition that is customized with having types like Rect_Green (green rectangle), Rect_Red, Rect_Blue. The EPK customizing includes types like Event, Decision, Function, Datasource, Person, Department, Product, each with its own shape and color settings.</li>
<li> Level::0995: The automatic flowcharting needs some hints on where to place the process step into the diagram. We are using a line number system. All Process steps with the same line number will show up on the same line in the diagram. Higher line numbers will be displayed on a lower level. That´s the only option you have to modify the diagram - sorry, no more hours spent with beefing up your slideshows...</li>
<li> Category:GettingStarted: This links the process step to the process, by linking it to the category page. This tag is standard MediaWiki.</li></ul>
<p>That´s it.
</p>
<h2><span class="mw-headline" id="Features">Features</span></h2>
<ul><li> Creates Diagrams from the links between WikiPages.</li>
<li> All Pages in one category that are tagged will be shown in the diagram</li>
<li> Hierarchical Processes: One Process can contain other processes, so you can drill down to lower levels.</li>
<li> Each WikiPage shows the whole process and the current step is marked.</li>
<li> configurable display of the process: 
<ul><li> whole process with marked step</li>
<li> whole process plus extract of process steps "around" the currently selected one</li></ul></li>
<li> customizable display: Instead of "drawing" diagrams, a Type is assigned to the process step which determines the shape and color used for drawing. This allows a standardisation of the diagrams and displays. (Think of EPK/Aris Diagrams or other types of diagrams.)</li></ul>
<h2><span class="mw-headline" id="Optional_Features">Optional Features</span></h2>
<ul><li> Export the whole process documentation to a .pdf by using the PDFbook Extension. (Including the graphs) (We currently provide an extended version of the original).</li></ul>
<h2><span class="mw-headline" id="Limitations">Limitations</span></h2>
<ul><li> Charting / GraphViz
<ul><li> FlowchartWiki is using GraphViz to automagically create the charts.</li>
<li> GraphViz offers very limited control of chart appearance or layout. (We try to give GraphViz some hints by using "line-numbers")</li>
<li> Swimlane charts or manual placement of elements is not supported.</li></ul></li>
<li> Cacheing / Performance
<ul><li> FlowchartWiki currently does not support cacheing of pages. It will test on each pageload, if the diagram needs to be recreated.</li></ul></li></ul>
<h2><span class="mw-headline" id="Continue_with_Installation">Continue with Installation</span></h2>
<ul><li> Test-Drive FlowchartWiki on your own system or your internal network: you can freely download and install the software.</li>
<li> Download now: <a href="http://www.flowchartwiki.org/wiki/index.php/Download" title="Download">Install::Download</a></li></ul>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'DecisionMaking':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Elli_Blue">Elli_Blue</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Download">Download</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/Install">Install</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /></td></tr></table>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Elli_Blue&amp;action=edit&amp;redlink=1" class="new" title="Elli Blue (page does not exist)">Type::Elli_Blue</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=0990&amp;action=edit&amp;redlink=1" class="new" title="0990 (page does not exist)">Level::0990</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.035 seconds
Real time usage: 0.044 seconds
Preprocessor visited node count: 60/1000000
Preprocessor generated node count: 108/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:34-1!*!0!!en!*!* and timestamp 20180510090210 and revision id 284
 -->
