<p><map name='801ab24683a4a8c433c6eb40c48bcd9d'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#801ab24683a4a8c433c6eb40c48bcd9d' src='/wiki/images/flowchartwiki/801ab24683a4a8c433c6eb40c48bcd9d.png?TimeStamp=20180425214335' />
</p>
<div id="toc" class="toc"><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Download"><span class="tocnumber">1</span> <span class="toctext">Download</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Current_Version_FlowchartWiki_1.2.5"><span class="tocnumber">1.1</span> <span class="toctext">Current Version FlowchartWiki 1.2.5</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Installation_prerequisites"><span class="tocnumber">1.2</span> <span class="toctext">Installation prerequisites</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#Unpacking_and_installing"><span class="tocnumber">2</span> <span class="toctext">Unpacking and installing</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Release_and_upgrade_Notes_-_Current_Release_FlowchartWiki"><span class="tocnumber">3</span> <span class="toctext">Release and upgrade Notes - Current Release FlowchartWiki</span></a>
<ul>
<li class="toclevel-2 tocsection-6"><a href="#FlowchartWiki_1.2.5"><span class="tocnumber">3.1</span> <span class="toctext">FlowchartWiki 1.2.5</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#FlowchartWiki_1.2.4"><span class="tocnumber">3.2</span> <span class="toctext">FlowchartWiki 1.2.4</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#FlowchartWiki_1.2.3"><span class="tocnumber">3.3</span> <span class="toctext">FlowchartWiki 1.2.3</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#FlowchartWiki_1.2.2"><span class="tocnumber">3.4</span> <span class="toctext">FlowchartWiki 1.2.2</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#FlowchartWiki_1.2.1"><span class="tocnumber">3.5</span> <span class="toctext">FlowchartWiki 1.2.1</span></a></li>
<li class="toclevel-2 tocsection-11"><a href="#FlowchartWiki_1.2.0"><span class="tocnumber">3.6</span> <span class="toctext">FlowchartWiki 1.2.0</span></a>
<ul>
<li class="toclevel-3 tocsection-12"><a href="#FlowchartWiki_1.2.0-beta2"><span class="tocnumber">3.6.1</span> <span class="toctext">FlowchartWiki 1.2.0-beta2</span></a></li>
<li class="toclevel-3 tocsection-13"><a href="#FlowchartWiki_1.2.0-beta1"><span class="tocnumber">3.6.2</span> <span class="toctext">FlowchartWiki 1.2.0-beta1</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-14"><a href="#FlowchartWiki_1.1.1"><span class="tocnumber">3.7</span> <span class="toctext">FlowchartWiki 1.1.1</span></a></li>
<li class="toclevel-2 tocsection-15"><a href="#FlowchartWiki_1.1.0"><span class="tocnumber">3.8</span> <span class="toctext">FlowchartWiki 1.1.0</span></a></li>
<li class="toclevel-2 tocsection-16"><a href="#FlowchartWiki_1.1.0-RC6"><span class="tocnumber">3.9</span> <span class="toctext">FlowchartWiki 1.1.0-RC6</span></a></li>
<li class="toclevel-2 tocsection-17"><a href="#FlowchartWiki_1.1.0-RC5"><span class="tocnumber">3.10</span> <span class="toctext">FlowchartWiki 1.1.0-RC5</span></a></li>
<li class="toclevel-2 tocsection-18"><a href="#FlowchartWiki_1.1.0-RC1"><span class="tocnumber">3.11</span> <span class="toctext">FlowchartWiki 1.1.0-RC1</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-19"><a href="#Release_and_upgrade_Notes_-_Current_Release_PdfBook"><span class="tocnumber">4</span> <span class="toctext">Release and upgrade Notes - Current Release PdfBook</span></a>
<ul>
<li class="toclevel-2 tocsection-20"><a href="#PdfBook_1.1.1"><span class="tocnumber">4.1</span> <span class="toctext">PdfBook 1.1.1</span></a></li>
<li class="toclevel-2 tocsection-21"><a href="#PdfBook_1.1.0"><span class="tocnumber">4.2</span> <span class="toctext">PdfBook 1.1.0</span></a></li>
<li class="toclevel-2 tocsection-22"><a href="#PdfBook_1.1.0-RC3"><span class="tocnumber">4.3</span> <span class="toctext">PdfBook 1.1.0-RC3</span></a></li>
<li class="toclevel-2 tocsection-23"><a href="#PdfBook_1.1.0-RC1"><span class="tocnumber">4.4</span> <span class="toctext">PdfBook 1.1.0-RC1</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-24"><a href="#Release_1.0.x"><span class="tocnumber">5</span> <span class="toctext">Release 1.0.x</span></a>
<ul>
<li class="toclevel-2 tocsection-25"><a href="#FlowchartWiki_1.0.1"><span class="tocnumber">5.1</span> <span class="toctext">FlowchartWiki 1.0.1</span></a></li>
<li class="toclevel-2 tocsection-26"><a href="#FlowchartWiki_1.0.0-RC3"><span class="tocnumber">5.2</span> <span class="toctext">FlowchartWiki 1.0.0-RC3</span></a></li>
<li class="toclevel-2 tocsection-27"><a href="#PdfBook_1.0.0-RC3"><span class="tocnumber">5.3</span> <span class="toctext">PdfBook 1.0.0-RC3</span></a></li>
<li class="toclevel-2 tocsection-28"><a href="#FlowchartWiki_1.0.0-RC2"><span class="tocnumber">5.4</span> <span class="toctext">FlowchartWiki 1.0.0-RC2</span></a></li>
<li class="toclevel-2 tocsection-29"><a href="#FlowchartWiki_1.0.0-RC1"><span class="tocnumber">5.5</span> <span class="toctext">FlowchartWiki 1.0.0-RC1</span></a></li>
</ul>
</li>
</ul>
</div>

<h2><span class="mw-headline" id="Download">Download</span></h2>
<h3><span class="mw-headline" id="Current_Version_FlowchartWiki_1.2.5">Current Version FlowchartWiki 1.2.5</span></h3>
<p>(If you are running an older version, please see the upgrade info in the release-notes below.)
</p><p>There are two versions of the files available:
</p>
<ul><li> a .zip file for Windows installations</li>
<li> a .tar.gz file for Linux/Unix installations</li></ul>
<p>The contents of both files are the same, just the packaging is different.
</p>
<ul><li> FlowchartWiki
<ul><li> Download from GitHub Releases as .zip or .tar.gz: <a rel="nofollow" class="external text" href="https://github.com/tkock/flowchartwiki/releases">GitHub</a></li></ul></li>
<li> PDFbook (our version of the extension is currently broken.)</li>
<li> Git Repository</li></ul>
<pre> git clone <a rel="nofollow" class="external free" href="https://github.com/tkock/flowchartwiki.git">https://github.com/tkock/flowchartwiki.git</a>
 git clone <a rel="nofollow" class="external free" href="https://github.com/tkock/pdfbook.git">https://github.com/tkock/pdfbook.git</a>
</pre>
<p>Current versions are tagged, you can do <code>git checkout flowchartwiki-1.2.5</code>
</p><p><br />
</p><p><br />
</p>
<h3><span class="mw-headline" id="Installation_prerequisites">Installation prerequisites</span></h3>
<ul><li> FlowchartWiki and MediaWiki are based on the "LAMP" Stack: Linux/Unix/Windows, Apache, mySQL/Postgres, PHP. This plattform should be available on your system.</li>
<li> FlowchartWiki is an Extension for MediaWiki. Please install MediaWiki first, then add the FlowchartWiki Extension. (See also <a href="http://www.flowchartwiki.org/wiki/index.php/Installation" title="Installation">Installation</a>)</li>
<li> The standard installation of FlowchartWiki will NOT work together with Semantic MediaWiki (SMW) installed in the same wiki. (See <a href="http://www.flowchartwiki.org/wiki/index.php/Installation#Parallel_usage_with_Semantic_MediaWiki" title="Installation">SMW+FlowchartWiki</a> for a workaround.)</li></ul>
<h2><span class="mw-headline" id="Unpacking_and_installing">Unpacking and installing</span></h2>
<p>Please see <a href="http://www.flowchartwiki.org/wiki/index.php/Installation" title="Installation">Installation</a>
</p>
<h2><span class="mw-headline" id="Release_and_upgrade_Notes_-_Current_Release_FlowchartWiki">Release and upgrade Notes - Current Release FlowchartWiki</span></h2>
<h3><span class="mw-headline" id="FlowchartWiki_1.2.5">FlowchartWiki 1.2.5</span></h3>
<ul><li> Fixes for deprecations in MW 1.27 and 1.29.1.</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.2.4">FlowchartWiki 1.2.4</span></h3>
<ul><li> fix sloppy coding that PHP 7.x rejects or complains about now (Thanks to Adam C. from the US.)</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.2.3">FlowchartWiki 1.2.3</span></h3>
<ul><li> fixed MediaWiki 1.27 LTS compatibility issues: 'wfMsg(...)' to 'wfMessage(...)-&gt;text()' (see <a rel="nofollow" class="external text" href="https://github.com/tkock/flowchartwiki/pull/2">Github Pull Requests #1 and #2</a>)</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.2.2">FlowchartWiki 1.2.2</span></h3>
<ul><li> fixed MediaWiki 1.24 compatibility issues.</li></ul>
<p>Upgrade from 1.2.1:
</p>
<ul><li> Replace the extension directory with the new version and (optionally) delete the images in ./images/flowchartwiki</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.2.1">FlowchartWiki 1.2.1</span></h3>
<ul><li> Changes for deprecated functions in MediaWiki 1.21.x
<ul><li> ExtensionMessages was removed.</li>
<li> counter.php was removed -&gt; replaced by direct copy of old function.</li></ul></li>
<li> dot not creating image files with empty label=<i>, needs to be label=' ' instead.</i></li>
<li> added call to PHP clearstatcache()</li></ul>
<p>Upgrade from 1.2.0:
</p>
<ul><li> Replace the extension directory with the new version and (optionally) delete the images in ./images/flowchartwiki</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.2.0">FlowchartWiki 1.2.0</span></h3>
<ul><li> Bugfix by Hiroyuki S.: long pagenames in fchw_LoadPages() in lib.php</li>
<li> catching some php-Notice "undefined index" errors in lib.php with isset()</li></ul>
<p>Upgrade from 1.1.x or 1.2.0-beta-x:
</p>
<ul><li> Replace the extension directory with the new version and delete the images in ./images/flowchartwiki</li>
<li> optional: Use the new "Category" as Graph Header feature (see <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing" title="Customizing">Customizing</a>).</li></ul>
<h4><span class="mw-headline" id="FlowchartWiki_1.2.0-beta2">FlowchartWiki 1.2.0-beta2</span></h4>
<ul><li> Bugfix by Gerrit I. - double entries in Database when tags are twice in a wikipage</li>
<li> PHP 5.3 compatibility - tested together with Peter v.L.</li>
<li> Changed field length in schema_mysql.sql for from_title and relation from 255 to 120 due to problems with UTF8 databases and indices being longer than 1024.</li>
<li> added $wgExtensionCredits</li></ul>
<h4><span class="mw-headline" id="FlowchartWiki_1.2.0-beta1">FlowchartWiki 1.2.0-beta1</span></h4>
<ul><li> major rebuild of .dot file creation, reduced Database-accesses and moved data-structure into internal object hierarchy (see fchwobjects.php for the objects)</li>
<li> This was a prerequsite for adding other features to the graph:</li>
<li> Include a Link to the Category-Page on top of the graph, if Customizing has a Page-Type "Category".</li>
<li> Position all Pages that have no Level::xxxx assigned at the bottom of the graph, sorted in alphabetical order.</li>
<li> These pages CAN have a Type::xxxx assigned to use a shape and Color from the customizing. Links to these pages may work, but will probably screw up the graph&#160;:-)</li>
<li> add Customizing-Function fchw['zLevels'] for the number or items per row for the "Unassigned" Pages.</li>
<li> This can be set in LocalSettings.php. If not set, it defaults to 4 and is set in flowchartwiki.php.</li>
<li> Calculate the Height of the graph based on the approximate number of rows. (This may not work properly for CategoryBrowser2 which displays two images.)</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.1.1">FlowchartWiki 1.1.1</span></h3>
<ul><li> fixed bug with ' (Apostroph) and " " (Blank) in Category Names. (Many thanks to Martin from Tübingen, Germany to report this.)</li></ul>
<p>Upgrading from 1.1.0 to 1.1.1
</p>
<ul><li> Replace the existing /extensions/flowchartwiki installation with the new files. (You may want to backup your existing files first.)</li>
<li> delete the contents of the <code>./images/flowchartwiki</code> directory and run <code>php ./extensions/flowchartwiki/maintenance/fchw_RefreshPages.php</code></li></ul>
<p>Upgrading from previous versions to FlowchartWiki 1.1.1:
</p>
<ul><li> replace the existing /extensions/flowchartwiki installation with the new files. (You may want to backup your existing files first.)</li>
<li> change the name of the <code>./images/fchw</code> directory to <code>./images/flowchartwiki</code>. Please ensure you keep the proper read/write/create/delete authorizations.</li>
<li> test your installation with the Special Pages:Check_Fchw Page.</li>
<li> change the customizing pages for the process models to the new Version 1.1 format shown in <a rel="nofollow" class="external text" href="http://www.flowchartwiki.org/wiki/index.php/Customizing">Customizing</a></li>
<li> delete the contents of the <code>./images/flowchartwiki</code> directory and run <code>php ./extensions/flowchartwiki/maintenance/fchw_RefreshPages.php</code></li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.1.0">FlowchartWiki 1.1.0</span></h3>
<ul><li> updated Special Pages:Check_Fchw</li>
<li> changed calls to GraphViz to platform-dependant calls for Unix/Linux, Windows-Apache and Windows-IIS platforms</li>
<li> fixed calls to GraphViz when there are " "(&lt;space&gt;) characters in the path to the <code>./images/flowchartwiki</code> directory.</li>
<li> added $wgDbPrefix to hash for filenames in ./images/flowchartwiki to avoid clashes in multi-instance installations</li>
<li> added "concentrate=true" to .dot files to combine arrows to/from boxes into one arrow.</li>
<li> experimental support of Windows-IIS platform.</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.1.0-RC6">FlowchartWiki 1.1.0-RC6</span></h3>
<ul><li> updated cacheing of images, added "?Timestamp=&lt;timestamp&gt;" to image-tag of graph images in order to remove the requirement to press "shift-reload" in the browser to see the updated image.</li>
<li> Database table access now uses Mediawiki DB-Prefix. (Thanks to J.R.M.)</li>
<li> Updated special page CheckFchw to show a graph created by graphviz for testing graphviz.</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.1.0-RC5">FlowchartWiki 1.1.0-RC5</span></h3>
<ul><li> Fixed call to GraphViz.exe on Windows installations (fixed problems on W2K and W2K3 servers), Unix installs are not affected</li>
<li> Added optional <code>PageName::DifferentNameForPage</code> Tag to override the labeling of the box in the Graph (Defaults to Name of WikiPage)</li>
<li> BugFix: Quote in PageName</li>
<li> BugFix: "_" are replaced with " " in PageName</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.1.0-RC1">FlowchartWiki 1.1.0-RC1</span></h3>
<ul><li> Added special page Special:CheckFchw to check correct installation <a href="http://www.flowchartwiki.org/wiki/index.php/Special:CheckFchw" title="Special:CheckFchw">Special:CheckFchw</a></li>
<li> Fixed bug: Redirected pages causes timeout in some cases</li>
<li> New customization format allows to set color, label, shape on arrows in graph</li></ul>
<h2><span class="mw-headline" id="Release_and_upgrade_Notes_-_Current_Release_PdfBook">Release and upgrade Notes - Current Release PdfBook</span></h2>
<p>PdfBook is currently broken. It will not work with current MediaWiki releases due to API-changes in MediaWiki.
</p>
<h3><span class="mw-headline" id="PdfBook_1.1.1">PdfBook 1.1.1</span></h3>
<ul><li> fixed bug with ' (Apostroph) and " " (Blank) in Category names.</li></ul>
<p>Upgrading from previous versions to pdfbook-1.1.1:
</p>
<ul><li> Replace the existing files with the files of the new version. (You may want to backup your existing installation first.)</li></ul>
<h3><span class="mw-headline" id="PdfBook_1.1.0">PdfBook 1.1.0</span></h3>
<ul><li> updated Special Pages:Check_Fchw</li>
<li> changed calls to htmldoc to platform-dependant calls for Unix/Linux, Windows-Apache and Windows-IIS platforms</li>
<li> changed unique filename to pdf-book-&lt;uniqueID&gt;</li>
<li> deletes temporary files after delivery to user, so <code>./images/pdfbook</code> directory should be mostly empty.</li>
<li> fixed calls to htmldoc when there are " "(&lt;space&gt;) characters in the path to the <code>./images/flowchartwiki</code> directory.</li></ul>
<h3><span class="mw-headline" id="PdfBook_1.1.0-RC3">PdfBook 1.1.0-RC3</span></h3>
<ul><li> minor update to special page Special:CheckPdfBook</li></ul>
<h3><span class="mw-headline" id="PdfBook_1.1.0-RC1">PdfBook 1.1.0-RC1</span></h3>
<ul><li> Added special page Special:CheckPdfBook to check correct installation <a href="http://www.flowchartwiki.org/wiki/index.php/Special:CheckPdfBook" class="new" title="Special:CheckPdfBook (page does not exist)">Special:CheckPdfBook</a></li>
<li> PdfBook now should also work when the FlowchartWiki extension is not installed or used in a category.</li></ul>
<h2><span class="mw-headline" id="Release_1.0.x">Release 1.0.x</span></h2>
<h3><span class="mw-headline" id="FlowchartWiki_1.0.1">FlowchartWiki 1.0.1</span></h3>
<ul><li> Fixed bug: Broken graph if name of pages contains " " space</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.0.0-RC3">FlowchartWiki 1.0.0-RC3</span></h3>
<ul><li> Added simple cache for graphs</li>
<li> Replacement for Hash function (if not exists - on some Solaris hosts)</li></ul>
<h3><span class="mw-headline" id="PdfBook_1.0.0-RC3">PdfBook 1.0.0-RC3</span></h3>
<ul><li> Sorted book by Level</li>
<li> Added support for codepage ISO-8859-2</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.0.0-RC2">FlowchartWiki 1.0.0-RC2</span></h3>
<ul><li> Fixed for Windows hosts (flowchartwiki and pdfbook too)</li>
<li> Fixed duplicate entries in dependencies</li></ul>
<h3><span class="mw-headline" id="FlowchartWiki_1.0.0-RC1">FlowchartWiki 1.0.0-RC1</span></h3>
<ul><li> First Release of FlowchartWiki.</li></ul>
<p><br />
</p>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'Download':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Yellow">Rect_Yellow</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Installation">Installation</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/DecisionMaking">DecisionMaking</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/Install">Install</a>)<br /></td></tr></table>
<p><a href="http://www.flowchartwiki.org/wiki/index.php/Installation" title="Installation">NextStep::Installation</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Yellow&amp;action=edit&amp;redlink=1" class="new" title="Rect Yellow (page does not exist)">Type::Rect_Yellow</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=0995&amp;action=edit&amp;redlink=1" class="new" title="0995 (page does not exist)">Level::0995</a>
</p>
<!--
NewPP limit report
CPU time usage: 0.054 seconds
Real time usage: 0.064 seconds
Preprocessor visited node count: 126/1000000
Preprocessor generated node count: 156/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:35-1!*!0!!en!*!* and timestamp 20180510090827 and revision id 552
 -->
