<p><map name='3ef49056d1527111d972f5a29284bd93'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#3ef49056d1527111d972f5a29284bd93' src='/wiki/images/flowchartwiki/3ef49056d1527111d972f5a29284bd93.png?TimeStamp=20150729131137' />
</p>
<div id="toc" class="toc"><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#How_to_create_a_process"><span class="tocnumber">1</span> <span class="toctext">How to create a process</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#How_to_create_a_process_step"><span class="tocnumber">2</span> <span class="toctext">How to create a process step</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Detail_documentation"><span class="tocnumber">3</span> <span class="toctext">Detail documentation</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Tag_CategoryBrowser"><span class="tocnumber">3.1</span> <span class="toctext">Tag CategoryBrowser</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Tag_Dependencies"><span class="tocnumber">3.2</span> <span class="toctext">Tag Dependencies</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#Tips_.26_Tricks"><span class="tocnumber">4</span> <span class="toctext">Tips &amp; Tricks</span></a></li>
</ul>
</div>

<h2><span class="mw-headline" id="How_to_create_a_process">How to create a process</span></h2>
<p>Sample Category Page Content:
</p>
<pre>&lt;CategoryBrowser /&gt;

Description of the process...

configure the type of the graphics
  '[ModelType::EPK]
  '[ModelType::Flat]
[[ModelType::EPK]]

</pre>
<ul><li>CategoryBrowser - Tag displays graph of current category. Items are process steps of this category.</li>
<li>ModelType::EPK - Specifies graphics style for graph, definition from this page is used for all process step graphs.</li></ul>
<h2><span class="mw-headline" id="How_to_create_a_process_step">How to create a process step</span></h2>
<p>Sample page content:
</p>
<pre>&lt;CategoryBrowser /&gt;

Description of the process step...

[[UsedBy::CheckBookingRequest]]

&lt;Dependencies /&gt;

[[Type::Product]]
[[Level::1010]]
[[PageName::DifferentName]]
[[Category:Flightbooking]]
</pre>
<ul><li><code>CategoryBrowser</code> tag displays graph of current category. Items are process steps of this category. Note: that you can use CategoryBrowser2 tag displays 2 graphs - left shows whole process of current step, and right only neighbours.</li>
<li> <code>Dependencies</code> tag shows table with dependencies between process steps</li>
<li> <code>Type::Product</code> - Type for current page (displays specified shape/color in graph)</li>
<li> <code>Level::1010</code> - Steps with same level are in same line in graph. Increase the Level by 10 for the next line in the graph - to Level::1020, Level::1030 etc. (If you have done some BASIC Programming "in the good old days" - this is like line-numbers in Basic. - And yes, we are working on a renumbering function&#160;;-))</li>
<li> <code>PageName::DifferentName</code> (optional) - this overrides the usage of the name of the WikiPage in the Graph with "DifferentName". i.e. If your WikiPage is named "SomePage" - it will default to the box labeled "SomePage" in the Graph. If you use "PageName::Some_Other_Name_For_This_Page" it will be labeled "Some Other Name For This Page" in the Graph. ("_" are replaced with " "). To split the text into multiple lines, insert "\n" where a linebreak should be placed. Example: "PageName::Some_Other_Name<b>\n</b>For_This_Page" would show the label in two lines: 1:"Some Other Name", 2: "For This Page".</li>
<li> <code>Category:Flightbooking</code> - This is important. Describes participation in process.</li></ul>
<h2><span class="mw-headline" id="Detail_documentation">Detail documentation</span></h2>
<h3><span class="mw-headline" id="Tag_CategoryBrowser">Tag CategoryBrowser</span></h3>
<pre>&lt;CategoryBrowser /&gt;</pre>
<p>Displays 1 graph.
</p>
<pre>&lt;CategoryBrowser2 /&gt;</pre>
<p>Displays 2 graphs. Left shows whole process and right only neighbours. CategoryBrowser2 on category page show only 1 graph.
</p>
<pre>&lt;CategoryBrowser&gt;Name_Of_Category&lt;/CategoryBrowser&gt;
&lt;CategoryBrowser2&gt;Name_Of_Category&lt;/CategoryBrowser2&gt;</pre>
<p>Displays graph(s) for selected category (graph of another category process).
</p>
<h3><span class="mw-headline" id="Tag_Dependencies">Tag Dependencies</span></h3>
<pre>&lt;Dependencies /&gt;</pre>
<p>Shows table with dependencies including type of links.
</p>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'EnterProcesses':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Green">Rect_Green</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Maintenance">Maintenance</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/UserTraining">UserTraining</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/UserTraining">UserTraining</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/ImportExistingDocuments">ImportExistingDocuments</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing">Customizing</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td></tr></table>
<p><br />
</p>
<h2><span class="mw-headline" id="Tips_.26_Tricks">Tips &amp; Tricks</span></h2>
<p><b>FCKEditor</b>:<br />
</p>
If you use the FCKEditor with FlowchartWiki, you need to put <code>__NORICHEDITOR__</code> at the start of each page.<br />Otherwise FCKEditor may mangle the Tags like this: (Thanks to Andrew from New Zealand.)<pre>
  [[Type::Rect_Red]]                     # original Tag
  [[Rect Red|Type::Rect_Red]]            # 1st round
  [[Rect Red|Rect Red|Type::Rect_Red]]   # 2nd round</pre>
<p><b>Positioning of the Tags</b>:<br />
You may want to place all the FlowchartWiki related tags (like "NextStep::Maintenance", "Type::Rect_Green", "Level::1030" etc.) to the end of the page, if your users are disturbed by the tags showing up in the middle of the text.
</p>
<ul><li> <a href="http://www.flowchartwiki.org/wiki/index.php/Maintenance" title="Maintenance">NextStep::Maintenance</a></li>
<li> <a href="http://www.flowchartwiki.org/wiki/index.php/UserTraining" title="UserTraining">NextStep::UserTraining</a></li></ul>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Green&amp;action=edit&amp;redlink=1" class="new" title="Rect Green (page does not exist)">Type::Rect_Green</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=1030&amp;action=edit&amp;redlink=1" class="new" title="1030 (page does not exist)">Level::1030</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.035 seconds
Real time usage: 0.044 seconds
Preprocessor visited node count: 94/1000000
Preprocessor generated node count: 200/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:29-1!*!0!!en!*!* and timestamp 20180510092744 and revision id 261
 -->
