<p><map name='0a296c9fc00135a71886f1ab64717e1c'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#0a296c9fc00135a71886f1ab64717e1c' src='/wiki/images/flowchartwiki/0a296c9fc00135a71886f1ab64717e1c.png?TimeStamp=20150730002600' />
</p>
<h2><span class="mw-headline" id="Easy_conversion_of_.doc_Files_with_OpenOffice.org">Easy conversion of .doc Files with OpenOffice.org</span></h2>
<p>The writer module of OpenOffice.org can open .doc documents and has a special export filter to export the document in MediaWiki markup. (=MediaWiki Formatting).
</p><p>Detailed List of Features: [<a rel="nofollow" class="external autonumber" href="http://wiki.services.openoffice.org/wiki/Odt2Wiki/Features">[1]</a>]
</p>
<h2><span class="mw-headline" id="Procedure">Procedure</span></h2>
<ol><li> Download [<a rel="nofollow" class="external text" href="http://www.openoffice.org">OpenOffice.org</a>]</li>
<li> Install the downloaded application</li>
<li> open the .doc file in the OpenOffice.org Writer module</li>
<li> Export the Document in MediaWiki markup as a .txt file
<ol><li> Choose File -&gt; Export</li>
<li> Select File Format "MediaWiki (*.txt)" and enter a FileName.</li></ol></li>
<li> Open the .txt File in Notepad or any other Text-Editor, mark the parts to be transferred  or the whole document and copy it into the clipboard</li>
<li> Create or open the page in your Wiki and go to the Edit-Mode of the page</li>
<li> Paste the content from the clipboard into the Edit-Window of the Wikipage</li>
<li> Save the Wikipage</li></ol>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'ImportExistingDocuments':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Green">Rect_Green</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses">EnterProcesses</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /></td></tr></table>
<ul><li> <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses" title="EnterProcesses">NextStep::EnterProcesses</a></li></ul>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Green&amp;action=edit&amp;redlink=1" class="new" title="Rect Green (page does not exist)">Type::Rect_Green</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=1030&amp;action=edit&amp;redlink=1" class="new" title="1030 (page does not exist)">Level::1030</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.023 seconds
Real time usage: 0.031 seconds
Preprocessor visited node count: 17/1000000
Preprocessor generated node count: 44/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:32-1!*!0!!*!*!* and timestamp 20180510092358 and revision id 277
 -->
