<p><map name='9df998ae319eda7ce25704a7302fdd54'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#9df998ae319eda7ce25704a7302fdd54' src='/wiki/images/flowchartwiki/9df998ae319eda7ce25704a7302fdd54.png?TimeStamp=20150729082559' />
</p>
<div id="toc" class="toc"><div id="toctitle"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#System_requirements"><span class="tocnumber">1</span> <span class="toctext">System requirements</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Overview_of_tested_and_supported_platforms"><span class="tocnumber">2</span> <span class="toctext">Overview of tested and supported platforms</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Preparation_.28Windows.29"><span class="tocnumber">3</span> <span class="toctext">Preparation (Windows)</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Preparation_.28Unix.2FLinux.29"><span class="tocnumber">4</span> <span class="toctext">Preparation (Unix/Linux)</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Installation_steps"><span class="tocnumber">5</span> <span class="toctext">Installation steps</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Optional_installation"><span class="tocnumber">6</span> <span class="toctext">Optional installation</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Additional_settings"><span class="tocnumber">7</span> <span class="toctext">Additional settings</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Parallel_usage_with_Semantic_MediaWiki"><span class="tocnumber">8</span> <span class="toctext">Parallel usage with Semantic MediaWiki</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Testing_your_installation"><span class="tocnumber">9</span> <span class="toctext">Testing your installation</span></a></li>
</ul>
</div>

<h2><span class="mw-headline" id="System_requirements">System requirements</span></h2>
<ul><li> Mediawiki system requirements as listed here [<a class="external autonumber" href="http://www.mediawiki.org/wiki/Installation">[1]</a>] with PostgreSQL or mySQL database.</li>
<li> Parallel usage of Semantik MediaWiki with FlowchartWiki is not supported. (Contributions welcome.)</li></ul>
<h2><span class="mw-headline" id="Overview_of_tested_and_supported_platforms">Overview of tested and supported platforms</span></h2>
<p>On these platforms we have installed and tested MediaWiki together with FlowchartWiki. If you use it on other platforms, please let us know so we can update this table.
</p>
<table border="1">
<tr>
<td style="background-color:silver;"> <b>OS / Database</b>
</td>
<td style="background-color:silver;"><b>Windows-Apache</b>
</td>
<td style="background-color:silver;"><b>Windows-IIS</b>
</td>
<td style="background-color:silver;"><b>Linux</b>
</td></tr>
<tr>
<td style="background-color:silver;"><b>Postgresql</b>
</td>
<td style="background-color:orange;"> untested
</td>
<td style="background-color:orange;"> untested
</td>
<td style="background-color:lime;">  tested OK
</td></tr>
<tr>
<td style="background-color:silver;"><b>mySQL</b>
</td>
<td style="background-color:lime;"> tested OK
</td>
<td style="background-color:orange;"> experimental,<br />see notes
</td>
<td style="background-color:lime;">  tested OK
</td></tr></table>
<h2><span class="mw-headline" id="Preparation_.28Windows.29">Preparation (Windows)</span></h2>
<ul><li> Install Apache, PHP and mySQL or Postgresql Database.
<ul><li> WAMP (Windows - Apache - mySQL) is pretty easy to set up.</li>
<li> You could use one of the prepacked installers like <a rel="nofollow" class="external text" href="http://winlamp.sourceforge.net/">WinLamp</a></li>
<li> Please see the documentation of these installers for more details</li></ul></li></ul>
<p>Possible issues on Windows:
</p>
<ul><li> Depending on your environment, GraphViz and HtmlDoc may need addional .dll's: vcredist_x86.exe, msvcr71.dll, libssl (libeay32.dll, ssleay32.dll)
<ul><li> GraphViz 2.28 requires the <a rel="nofollow" class="external text" href="http://www.microsoft.com/download/en/details.aspx?displaylang=en&amp;id=29">VC++ 2008</a> redistributables, where some older versions required the 2005 release. (Thanks to Tommy from Hong Kong)</li></ul></li>
<li> Calls from PHP to external programs may be restricted by the OS (This is primarily an issue with IIS, see below.)</li>
<li> On Windows (XP?) with Apache there seem to be problems in calling the htmldoc and graphviz executables when the the DocumentRoot in httpd.conf contains " " (Blanks/Spaces). Please move the DocumentRoot to a directory path without spaces - like "c:\htdocs" and update DocumentRoot accordingly - to "c:/htdocs". (until 1.1.0-RC6, fixed in 1.1.0)</li>
<li> From PHP 5.4.5 COM is no longer built into php core, you have to add COM support in php.ini. See <a rel="nofollow" class="external autonumber" href="http://www.php.net/manual/en/com.installation.php">[2]</a> (Thanks to Pavel from Moscow, Russia.)</li>
<li> Please let us know about your success / problems on Windows platforms.</li></ul>
<p>Windows - IIS: (experimental, you have been warned!)
</p>
<ul><li> Be prepared to do some serious tweaking with rights for IUSR and IIS_WPG. This MAY include rights to <code>cmd.exe</code>, the <code>c:/program files/graphviz</code> and <code>c:/program files/htmldoc</code> directories, the <code>./images/flowchartwiki</code> and <code>./images/pdfbook</code> directories - and possibly more.</li>
<li> Granting enough rights, we were successfully running flowchartwiki/graphviz on W2K3 with IIS. </li>
<li> We quit digging deeper into making htmldoc work due to these hints: """Enable auditing of 'object failures' in the local security policy, see if anything is in Security event log.  Another couple of tools to use are Regmon and Filemon from Sysinternals.  Auditing, Regmon, Filemon can narrow down if its a obvious permissions issue.  If not, it's something in your local security policy preventing it.""" (Source: <a rel="nofollow" class="external autonumber" href="http://forums.iis.net/p/1147972/1887971.aspx">[3]</a>)</li>
<li> also tweaking with the calls to the executables in <code>checkfchw_body.php, checkpdfbook_body.php</code> first and then applying those changes to <code>graphviz.php</code> and <code>pdfbook.php</code> may be necessary.</li>
<li> IIS seems to handle URLs differently. Please check <a class="external text" href="http://www.mediawiki.org/wiki/Manual:Short_URL">Manual:Short_URL</a> and <a rel="nofollow" class="external text" href="http://meta.wikimedia.org/wiki/URL_rewrite_in_IIS">URL_rewrite_in_IIS</a> and adjust your <code>LocalSettings.php</code> accordingly. What worked for us:</li></ul>
<pre> $wgScript           = "/mediawiki/index.php";
 $wgArticlePath      = "$wgScript/$1";
 $wgUsePathInfo      = true;
</pre>
<ul><li> The Special:CheckFchw page seems to have timing issues. It is testing for the existence of the generated .png file. The file may be there, but windows seems to be slow to recognize this. Please crosscheck the <code>./images/flowchartwiki</code> directory for a <code>FchwTest.png</code> file. This problem may also re-appear in graphviz.php when creating images during normal usage. The program already waits, but maybe windows is even slower...</li>
<li> <b>Contributions with detailed instructions and fixes are very much appreciated.</b></li></ul>
<h2><span class="mw-headline" id="Preparation_.28Unix.2FLinux.29">Preparation (Unix/Linux)</span></h2>
<ul><li> For a Docker based installation please see <a rel="nofollow" class="external free" href="https://github.com/tkock/flowchartwiki-docker">https://github.com/tkock/flowchartwiki-docker</a></li>
<li> usually Apache, PHP and mySQL or Postgresql are installed in the base installation. If not, please add these packages now. </li>
<li> for running php-scripts outside of apache, you may need to add a package named php5-cli.</li></ul>
<p>Possible Issues on Linux:
</p>
<ul><li> Graphviz: (Was reported for CentOS 64bit): apache-user needs access to "<code>/usr/lib64/graphviz/config6</code>" which can be set by granting "<code>chmod 755</code>" on that file. The Error Message in Apache-Log was "<code>Format: "png" not recognized. Use one of:</code>" (Thanks to Gero from Boeblingen, Germany)</li>
<li> Graphviz: (Was reported for RHEL5): requires GD-support in Graphviz which is included in the package "graphviz-<b>gd</b>-2.12-8.el5" in addition to installing "graphviz-2.12-8.el5". (Thanks to Mangesh)
<ul><li> Test with '/usr/bin/dot -v' and check if the 'render' line contains 'png'. Press Ctrl-c to exit dot.</li></ul></li>
<li> Ubuntu: create a <code>/var/www/bin</code> directory and copy dot and htmldoc into it. Then in <code>/etc/php5/apache/php.ini</code> set "<code>save_mode_exec_dir=/var/www/bin</code>". In <code>LocalSettings.php</code> for <code>$fchw['GraphvizDot']</code>, just use "<code>dot</code>" and "<code>htmldoc</code>" respecitively, do not give any path.</li></ul>
<h2><span class="mw-headline" id="Installation_steps">Installation steps</span></h2>
<p>MediaWiki Installation
</p>
<ul><li> download [<a class="external autonumber" href="http://www.mediawiki.org/wiki/Download">[4]</a>] </li>
<li> install [<a class="external autonumber" href="http://www.mediawiki.org/wiki/Installation">[5]</a>] Mediawiki as described in Mediawiki documentation </li>
<li> Test your Mediawiki installation</li></ul>
<p>Tip:
</p>
<ul><li> If you want to run multiple (separate) wikis, use parallel installations of mediawiki. These installations can share the same database with different $dbprefix settings. FlowchartWiki is not compatible with running multiple (separate) wikis in a single wiki-installation like "Method One" documented on SteveRumberg.com, which switches $dbprefix based on a url-parameter.</li></ul>
<p>GraphViz and Flowchartwiki Extension Installation
</p>
<ul><li> Download and install Graphviz to your system [<a rel="nofollow" class="external autonumber" href="http://www.graphviz.org/">[6]</a>] (The MediaWiki GraphViz Extension is not required.)</li>
<li> <a href="http://www.flowchartwiki.org/wiki/index.php/Download" title="Download">Download</a> and extract Flowchartwiki package to mediawiki/extensions</li>
<li> rename the directory from flowchartwiki-x.y.z to flowchartwiki</li></ul>
<p>Database configuration
</p>
<ul><li> if you use a Database Prefix ($wgDbPrefix), please adjust the database scripts accordingly. (see notes in the .sql scripts).</li>
<li> Postgres
<ul><li> import ./extensions/flowchartwiki/maintenance/schema_pg.sql to your Postgres database</li></ul></li></ul>
<pre> psql db wikiname &lt; schema_pg.sql
</pre>
<ul><li> mySQL
<ul><li> import ./extensions/flowchartwiki/maintenance/schema_mysql.sql to your mySQL Database</li></ul></li></ul>
<pre> mysql --user=&lt;dbuser&gt; --password=&lt;password&gt; &lt;dbName&gt; &lt; ./extensions/flowchartwiki/maintenance/schema_mysql.sql
</pre>
<p>Directory setup and Wiki Configuration
</p>
<ul><li> create directory <i>flowchartwiki</i> in <i>images</i> subdirectory a set permisions on <i>flowchartwiki</i> directory, (Please note: The name of this directory was changed from <code>fchw</code> to <code>flowchartwiki</code> in version 1.1.0.)</li></ul>
<pre> chmod 777 ./images/flowchartwiki
</pre>
<ul><li> add these lines to mediawiki/LocalSettings.php 
<ul><li> note: Set <code>&lt;path-to-graphviz-Dot&gt;</code> to the path on your system:
<ul><li> Unix/Linux: could be "<code>/usr/bin/dot</code>"</li>
<li> Windows: could be "<code>C:\\Program Files\\Graphviz 2.20\\bin\\dot.exe"</code>" (use double \\)</li></ul></li></ul></li></ul>
<pre> # Disable cache - otherwise graphs are not updated properly
 $wgCachePages       = false;
 $wgCacheEpoch = max( $wgCacheEpoch, gmdate( 'YmdHis' ) );
 # Include libraries
 require_once("$IP/extensions/flowchartwiki/flowchartwiki.php");
 $fchw['GraphvizDot'] = "&lt;path-to-graphviz-Dot&gt;";
</pre>
<h2><span class="mw-headline" id="Optional_installation">Optional installation</span></h2>
<ul><li> PDF Book - Export your Process Documentation as a .pdf Document</li>
<li> PDF Book for FlowchartWiki is currently broken and not maintained.</li>
<li> Download HTMLDoc: Open Source: <a rel="nofollow" class="external autonumber" href="http://www.htmldoc.org">[7]</a> Commercial: <a rel="nofollow" class="external autonumber" href="http://www.easysw.com/htmldoc/">[8]</a>
<ul><li> Unix/Linux: Prebuild packages should be available for your distribution. </li>
<li> Windows: Please use Google to locate a compiled open-source package or purchase a commercial license from the vendor.</li></ul></li>
<li> Install HTMLDoc</li>
<li> Download the FlowchartWiki PdfBook Extension (See <a href="http://www.flowchartwiki.org/wiki/index.php/Download" title="Download">Download</a>) (This Extension has been modified to work with FlowchartWiki).</li>
<li> extract PdfBook mediawiki extension to ./extensions directory</li>
<li> rename directory pdfbook-x.y.z to pdfbook</li>
<li> create directory <i>pdfbook</i> in <i>images</i> subdirectory and set permisions on <i>pdfbook</i> directory, </li></ul>
<pre> chmod 777 ./images/pdfbook
</pre>
<ul><li> add these lines to mediawiki/LocalSettings.php and set the correct path to the htmldoc executable</li></ul>
<pre> require_once("$IP/extensions/pdfbook/pdfbook.php");
 $PdfBookShowTab = true;
 $PdfBookHtmlDoc = "c:\\program files\\htmldoc\\htmldoc.exe";
</pre>
<h2><span class="mw-headline" id="Additional_settings">Additional settings</span></h2>
<p>If you want to allow to view pages only for registered users, add these lines to mediawiki/LocalSettings.php
</p>
<pre> # Allow only authorized persons
 $wgGroupPermissions['*']['read'] = false;
 $wgGroupPermissions['*']['createaccount'] = false;
 $wgShowExceptionDetails = true;
</pre>
<h2><span class="mw-headline" id="Parallel_usage_with_Semantic_MediaWiki">Parallel usage with Semantic MediaWiki</span></h2>
<p>The standard installation of FlowchartWiki will NOT work together with Semantic MediaWiki, as the style used for tagging the links is the same as in SMW.
</p><p>Daniel L. submitted a workaround that uses a different tagging. He is using "--" for FlowchartWiki instead of "::" (which is used by SMW). If you want to use FlowchartWiki in parallel with SMW, you may want to give his modification a try.
</p><p>Linktypes.php: approx. line 58:
</p>
<pre> &lt; if (strpos($LinkText, "--") &gt; 0) {
 &lt; $Relation = substr($LinkText, 1, strpos($LinkText, "--")-1);
 &lt; $LinkTmp = substr($LinkText, strpos($LinkText, "--")+2, -1);
 &lt; $output .= "[$LinkTmp|$Relation--$LinkTmp]";
 ---
 &gt; if (strpos($LinkText, "::") &gt; 0) {
 &gt; $Relation = substr($LinkText, 1, strpos($LinkText, "::")-1);
 &gt; $LinkTmp = substr($LinkText, strpos($LinkText, "::")+2, -1);
 &gt; $output .= "[$LinkTmp|$Relation::$LinkTmp]";
</pre>
<p>Linktypes.php approx. line 164:
</p>
<pre> &lt; if (strpos($Link, "--") &gt; 0) {
 &lt; $Relation = substr($Link, 0, strpos($Link, "--"));
 &lt; $To_title = substr($Link, strpos($Link, "--")+2);
 ---
 &gt; if (strpos($Link, "::") &gt; 0) {
 &gt; $Relation = substr($Link, 0, strpos($Link, "::"));
 &gt; $To_title = substr($Link, strpos($Link, "::")+2);
</pre>
<h2><span class="mw-headline" id="Testing_your_installation">Testing your installation</span></h2>
<p><b>Special Pages</b><br />
Two "special pages" will help you to test and troubleshoot your installation. (New in Version 1.1.0) 
</p>
<ul><li> Check FlowChartWiki extension (Special:CheckFchw)</li>
<li> Check PDFBOOK extension (Special:CheckPdfBook)</li></ul>
<p>These pages check, if everything is installed correctly, including executables, paths, permissions and will try to create a graph or .pdf document.
</p><p><b>Set up a "Test Process"</b><br />
<img src="http://www.flowchartwiki.org/wiki/images/Category_Test.png" alt="Category:Test"><br />
(After entering the process, this is the diagram you should see on the WikiPage Test1.)
</p>
<ul><li> <b>Step1:</b> Create category <code>Category:Test</code> with content (Cut &amp; Paste)</li></ul>
<pre>&lt;CategoryBrowser /&gt;
[[ModelType::Draw]]
</pre>
<ul><li> <b>Step 2:</b> Create Page <code>Test1</code> with content (Cut &amp; Paste)</li></ul>
<pre>&lt;CategoryBrowser /&gt;
[[LinksTo::Test2]]
&lt;Dependencies /&gt;
[[Type::Rect_Red]]
[[Level::1000]]
[[Category:Test]]
</pre>
<ul><li> <b>Step 3:</b> Create Page <code>Test2</code> with content (Cut &amp; Paste)</li></ul>
<pre>&lt;CategoryBrowser /&gt;
&lt;Dependencies /&gt;
[[Type::Rect_Blue]]
[[Level::1010]]
[[Category:Test]]
</pre>
<ul><li> <b>Step 4:</b> Tests:
<ul><li> Open the Category Page <code>Category:Test</code><br />You should see a diagram with two process steps (Test1 and Test2) which is clickable and will link to the Pages Test1 and Test2. <br />The Diagrams will not be colored or using shapes because the customizing for the colors and shapes is not yet available, so default values are used. (If you want it pretty, see the <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing" title="Customizing">Customizing</a> documentation).</li>
<li> Click on the diagram on the Pages <code>Category:Test</code> and <code>Test1</code>, <code>Test2</code> to test the navigation.</li>
<li> you will see some "red" text with the diagrams. This is due to rendering the links and expected. (see also on the bottom of this page)</li>
<li> you may want to have a look into <code>./images/flowchartwiki</code> where the files for the images are cached.</li>
<li> Testing PdfBook export: Open the category page and click the "Export to PDF" tab. You should get an automatic download of a .pdf File. The .pdf Document contains all pages from the category, graphs included.</li></ul></li></ul>
<p>Next:
</p>
<ul><li> <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing" title="Customizing">NextStep::Customizing</a></li></ul>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'Installation':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Yellow">Rect_Yellow</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Customizing">Customizing</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/Download">Download</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td></tr></table>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Yellow&amp;action=edit&amp;redlink=1" class="new" title="Rect Yellow (page does not exist)">Type::Rect_Yellow</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=1000&amp;action=edit&amp;redlink=1" class="new" title="1000 (page does not exist)">Level::1000</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.058 seconds
Real time usage: 0.065 seconds
Preprocessor visited node count: 57/1000000
Preprocessor generated node count: 152/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:26-1!*!0!!en!*!* and timestamp 20180510091554 and revision id 554
 -->
