<h2><span class="mw-headline" id="FlowchartWiki_-_Wiki-based_Process_Modelling_and_Documentation">FlowchartWiki - Wiki-based Process Modelling and Documentation</span></h2>
<table border="0">
<tr>
<td><map name='1fb7a941afea4e4c3271154fc1f908ac'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#1fb7a941afea4e4c3271154fc1f908ac' src='/wiki/images/flowchartwiki/1fb7a941afea4e4c3271154fc1f908ac.png?TimeStamp=20150729082600' />
</td>
<td valign="top">
<p>Flowchartwiki is an extension to MediaWiki for creating flowcharts from the links between wikipages to support process modelling and process documentation in MediaWiki. This simplifies the self-organizing of teams and processes.
</p><p><b>Simple Navigation: click on the auto-generated graphs.</b>
See for yourself - the diagrams on each page (including the diagram on the left) are automatically created from pages in this wiki. Just click on a Process step in the diagram to go directly to that page.
</p><p>Use it for
</p>
<ul><li> Process Diagrams</li>
<li> Process Modelling </li>
<li> Process Documentation</li>
<li> training plans</li>
<li> ...What could you think of?</li></ul>
<h2><span class="mw-headline" id="Brief_Description">Brief Description</span></h2>
<p>FlowchartWiki allows teams and processes to self-organize, using a Wiki to create process models and process documentation.
</p><p>Each step within a process is a separate wikipage.  And based on the links between these wikipages and a type assigned to a wikipage, a flowchart diagram is created automatically.
</p><p>The diagrams are always up-to-date, which reduces manual maintenance.  
</p><p>Unlike popular office software, all users of the wiki can simultaneously access the process model and keep accurate for their needs.  
</p><p>FlowchartWiki is an extension to the well-known Mediawiki Software and both are <b>free and open source</b>.  Because of this, the powerful features of Mediawiki, such as the audit trail and notifications, are brought to bear on easy-to-navigate process documentation.
</p>
</td></tr></table>
<p><br />
</p>
<h2><span class="mw-headline" id="FlowchartWiki_repository_on_GitHub.2C_Site_moved_to_Docker_container">FlowchartWiki repository on GitHub, Site moved to Docker container</span></h2>
<ul><li> The FlowchartWiki Git repository is available on GitHub: <a rel="nofollow" class="external free" href="https://github.com/tkock/flowchartwiki">https://github.com/tkock/flowchartwiki</a></li>
<li> This site is now running inside a docker container. Details: <a rel="nofollow" class="external free" href="https://github.com/tkock/flowchartwiki-docker">https://github.com/tkock/flowchartwiki-docker</a></li></ul>
<h2><span class="mw-headline" id="New_in_1.2.5">New in 1.2.5</span></h2>
<ul><li> Fix deprecations in MediaWiki 1.27 and 1.29.1</li></ul>
<h2><span class="mw-headline" id="New_in_1.2.4">New in 1.2.4</span></h2>
<ul><li> Fix sloppy coding that PHP 7.x rejects or complains about now.</li></ul>
<h2><span class="mw-headline" id="New_in_1.2.3">New in 1.2.3</span></h2>
<ul><li> Fixes for MediaWiki 1.27 LTS</li></ul>
<h2><span class="mw-headline" id="New_in_1.2.2">New in 1.2.2</span></h2>
<ul><li> Fixes for MediaWiki 1.24.x</li></ul>
<h2><span class="mw-headline" id="Main_Sponsor_.2F_Support_and_Service">Main Sponsor / Support and Service</span></h2>
<p>We can support you with installation, rollout / consulting and maintenance. Please <a href="http://www.flowchartwiki.org/wiki/index.php/Contact" title="Contact">Contact</a> us for further details.
</p><p><br />
</p>
<!-- 
NewPP limit report
CPU time usage: 0.022 seconds
Real time usage: 0.028 seconds
Preprocessor visited node count: 39/1000000
Preprocessor generated node count: 56/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:1-1!*!0!!*!*!* and timestamp 20180510081717 and revision id 549
 -->
