<p><map name='0fbdca1fc1afeb07d709b8a91756a76d'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#0fbdca1fc1afeb07d709b8a91756a76d' src='/wiki/images/flowchartwiki/0fbdca1fc1afeb07d709b8a91756a76d.png?TimeStamp=20150729231659' />
</p>
<h2><span class="mw-headline" id="Re-Initializing_the_Database">Re-Initializing the Database</span></h2>
<p>If your FlowchartWiki Database is corrupted, you may re-generate the table that contains the links between the pages by running the fchw_RefreshPages.php script from the commandline.<br />
cd to directory htdocs/&lt;yourWiki&gt;
</p>
<pre> php ./extensions/flowchartwiki/maintenance/fchw_RefreshPages.php
</pre>
<p>Windows Note:<br />
PHP could be started by 
</p>
<pre> c:\Program Files\Apache2\modules\php\php.exe
</pre>
<p>Unix Note:<br />
You may need to have the PHP-cli package installed on your system.
</p>
<h2><span class="mw-headline" id="Temporary_Files">Temporary Files</span></h2>
<p>FlowchartWiki and PDFBook create temporary files in these directories:
</p>
<pre> ./images/flowchartwiki
 ./images/pdfbook
</pre>
<p>FlowchartWiki Note:
</p>
<ul><li> The filenames are created from a hash of the database-prefix and the name of the wikipage and are overwritten for each update.</li>
<li> There are four files per page: 
<ul><li> .dot source which was converted to .png and .map by graphviz.</li>
<li> .png with the graph, </li>
<li> .map with an ImageMap for HTML Display</li>
<li> .dot.md5 which contains the hash value of the dot file and is used to validate, if an image needs to be re-created.</li></ul></li>
<li> Deleting these files is safe, they will be recreated at the next access, but you will have to delete all 4 files per page.</li>
<li> Stale files will only exist for pages that have been deleted, so a frequent purging of this directory is not required.</li></ul>
<p>PDFBook Note:
</p>
<ul><li> There are 2 files per .pdf document
<ul><li> .html source (no Extension) which gets converted to .pdf by htmldoc</li>
<li> .pdf with the .pdf document</li></ul></li>
<li> The filenames are 'pdf-book-' with a random number.</li>
<li> These Files are created at each creation of a .pdf Document and are not re-used.</li>
<li> In Pdfbook 1.1.0 the files are deleted after they have been delivered to the user, so the directory should be mostly empty.</li>
<li> you may want to configure a cron-job to clean up this directory.</li></ul>
<h2><span class="mw-headline" id="Moving_to_new_empty_server">Moving to new empty server</span></h2>
<ul><li> Export all pages from old server via page Special pages - Export pages
<ul><li> First see list of categories, and load pages for each one.</li>
<li> Don't forget to add category page like (Category:Test) and MainPage</li>
<li> Don't forget to add customizing pages (Customizing:Configure_Chart, Customizing:Configure_Chart_Documentation, Customizing:Configure_EPK)</li></ul></li>
<li> New server - choose Special pages / Import pages and select exported file</li>
<li> Copy your logo to images/logo.png and this line to Localsettings.php</li></ul>
<pre> $wgLogo = "/wiki/images/logo.png";
</pre>
<ul><li> Copy Mediawiki:Sidebar page to new location</li></ul>
<p><br />
</p>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'Maintenance':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Yellow">Rect_Yellow</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses">EnterProcesses</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td></tr></table>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Yellow&amp;action=edit&amp;redlink=1" class="new" title="Rect Yellow (page does not exist)">Type::Rect_Yellow</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=1040&amp;action=edit&amp;redlink=1" class="new" title="1040 (page does not exist)">Level::1040</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.024 seconds
Real time usage: 0.030 seconds
Preprocessor visited node count: 21/1000000
Preprocessor generated node count: 52/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:31-1!*!0!!*!*!* and timestamp 20180510093413 and revision id 273
 -->
