<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title>Check FlowChartWiki extension - flowchartwiki</title>
<meta name="generator" content="MediaWiki 1.25.1" />
<meta name="robots" content="noindex,nofollow" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="flowchartwiki (en)" />
<link rel="EditURI" type="application/rsd+xml" href="http://www.flowchartwiki.org/wiki/api.php?action=rsd" />
<link rel="alternate" hreflang="x-default" href="http://www.flowchartwiki.org/wiki/index.php/Special:CheckFchw" />
<link rel="copyright" href="https://creativecommons.org/licenses/by-nc-sa/3.0/" />
<link rel="alternate" type="application/atom+xml" title="flowchartwiki Atom feed" href="http://www.flowchartwiki.org/wiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
<link rel="stylesheet" href="http://www.flowchartwiki.org/wiki/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cmediawiki.ui.button%7Cskins.vector.styles&amp;only=styles&amp;skin=vector&amp;*" />
<meta name="ResourceLoaderDynamicStyles" content="" />
<style>a:lang(ar),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur){text-decoration:none}
/* cache key: flowchartwiki:resourceloader:filter:minify-css:7:8a02ce4f16500f7e15ed0d4c6938b7e6 */</style>
<script src="http://www.flowchartwiki.org/wiki/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector&amp;*"></script>
<script>if(window.mw){
mw.config.set({"wgCanonicalNamespace":"Special","wgCanonicalSpecialPageName":"CheckFchw","wgNamespaceNumber":-1,"wgPageName":"Special:CheckFchw","wgTitle":"CheckFchw","wgCurRevisionId":0,"wgRevisionId":0,"wgArticleId":0,"wgIsArticle":false,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":[],"wgBreakFrames":true,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Special:CheckFchw","wgRelevantArticleId":0,"wgIsProbablyEditable":false});
}</script><script>if(window.mw){
mw.loader.implement("user.options",function($,jQuery){mw.user.options.set({"variant":"en"});});mw.loader.implement("user.tokens",function($,jQuery){mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\"});});
/* cache key: flowchartwiki:resourceloader:filter:minify-js:7:a5c52c063dc436c1ca7c9f456936a5e9 */
}</script>
<script>if(window.mw){
mw.loader.load(["mediawiki.page.startup","mediawiki.legacy.wikibits","mediawiki.legacy.ajax","skins.vector.js"]);
}</script>
<!--[if lt IE 7]><style type="text/css">body{behavior:url("/wiki/skins/Vector/csshover.min.htc")}</style><![endif]-->
</head>
<body class="mediawiki ltr sitedir-ltr ns--1 ns-special mw-special-CheckFchw page-Special_CheckFchw skin-vector action-view">
		<div id="mw-page-base" class="noprint"></div>
		<div id="mw-head-base" class="noprint"></div>
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>

						<div class="mw-indicators">
</div>
			<h1 id="firstHeading" class="firstHeading" lang="en">Check FlowChartWiki extension</h1>
						<div id="bodyContent" class="mw-body-content">
								<div id="contentSub"></div>
												<div id="jump-to-nav" class="mw-jump">
					Jump to:					<a href="#mw-head">navigation</a>, 					<a href="#p-search">search</a>
				</div>
				<div id="mw-content-text"><p>Web Server: <strong>nginx/1.8.0</strong></p><p>PHP version: <strong>5.5.9-1ubuntu4.11</strong></p><p>Platform: <strong>Linux 5617b633d666 3.13.0-144-generic #193-Ubuntu SMP Thu Mar 15 17:03:53 UTC 2018 x86_64</strong></p><p>Mediawiki version: <strong>1.25.1</strong></p><p>Database: <strong>[{{int:version-db-mysql-url}} MySQL] 5.6.25</strong></p><p>Database prefix: <strong></strong></p><p>FlowChartWiki version: <strong>1.2.2</strong></p><table border='0' cellpadding='0' cellspacing='0'><tr><td><table border='0' cellpadding='0' cellspacing='0'><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>FlowChartWiki data folder</strong><br /><font color='white'></font></td></tr><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>FlowChartWiki data folder permissions</strong><br /><font color='white'></font></td></tr><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>GraphViz path</strong><br /><font color='white'></font></td></tr><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>GraphViz executable</strong><br /><font color='white'></font></td></tr><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>FlowChartWiki database table</strong><br /><font color='white'></font></td></tr><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>Create sample graph</strong><br /><font color='white'></font></td></tr><tr><td colspan='2' style='height: 2px'>&nbsp;</td></tr><tr><td style='padding-left: 4px; padding-right: 16px; background: green;'><strong>OK</strong></td><td valign='top' style='padding: 8px; background: green;'><strong>Total status</strong><br /><font color='white'></font></td></tr></table></td><td style='padding-left: 32px;'><h5>Test-Graphics</h5><img src='/wiki/images/flowchartwiki/FchwTest.png?TimeStamp=20180510094240' alt='' /></td></tr></table></div>									<div class="printfooter">
						Retrieved from "<a dir="ltr" href="http://www.flowchartwiki.org/wiki/index.php/Special:CheckFchw">http://www.flowchartwiki.org/wiki/index.php/Special:CheckFchw</a>"					</div>
													<div id='catlinks' class='catlinks catlinks-allhidden'></div>												<div class="visualClear"></div>
							</div>
		</div>
		<div id="mw-navigation">
			<h2>Navigation menu</h2>

			<div id="mw-head">
									<div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
						<h3 id="p-personal-label">Personal tools</h3>
						<ul>
							<li id="pt-login"><a href="http://www.flowchartwiki.org/wiki/index.php?title=Special:UserLogin&amp;returnto=Special%3ACheckFchw&amp;returntoquery=action%3Drender" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
					</div>
									<div id="left-navigation">
										<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
						<h3 id="p-namespaces-label">Namespaces</h3>
						<ul>
															<li  id="ca-nstab-special" class="selected"><span><a href="/wiki/index.php?title=Special:CheckFchw&amp;action=render"  title="This is a special page, you cannot edit the page itself">Special page</a></span></li>
													</ul>
					</div>
										<div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
												<h3 id="p-variants-label"><span>Variants</span><a href="#"></a></h3>

						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
									</div>
				<div id="right-navigation">
										<div id="p-views" role="navigation" class="vectorTabs emptyPortlet" aria-labelledby="p-views-label">
						<h3 id="p-views-label">Views</h3>
						<ul>
													</ul>
					</div>
										<div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
						<h3 id="p-cactions-label"><span>More</span><a href="#"></a></h3>

						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
										<div id="p-search" role="search">
						<h3>
							<label for="searchInput">Search</label>
						</h3>

						<form action="/wiki/index.php" id="searchform">
														<div id="simpleSearch">
															<input type="search" name="search" placeholder="Search" title="Search flowchartwiki [f]" accesskey="f" id="searchInput" /><input type="hidden" value="Special:Search" name="title" /><input type="submit" name="fulltext" value="Search" title="Search the pages for this text" id="mw-searchButton" class="searchButton mw-fallbackSearchButton" /><input type="submit" name="go" value="Go" title="Go to a page with this exact name if exists" id="searchButton" class="searchButton" />								</div>
						</form>
					</div>
									</div>
			</div>
			<div id="mw-panel">
				<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="http://www.flowchartwiki.org/wiki/index.php/Main_Page"  title="Visit the main page"></a></div>
						<div class="portal" role="navigation" id='p-navigation' aria-labelledby='p-navigation-label'>
			<h3 id='p-navigation-label'>Navigation</h3>

			<div class="body">
									<ul>
													<li id="n-Home"><a href="http://www.flowchartwiki.org/wiki/index.php/Main_Page">Home</a></li>
													<li id="n-Getting-Started"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:GettingStarted">Getting Started</a></li>
													<li id="n-Download-FlowchartWiki"><a href="http://www.flowchartwiki.org/wiki/index.php/Download">Download FlowchartWiki</a></li>
													<li id="n-License:-GPL-.2F-LGPL"><a href="http://www.flowchartwiki.org/wiki/index.php/License">License: GPL / LGPL</a></li>
													<li id="n-Contact"><a href="http://www.flowchartwiki.org/wiki/index.php/Contact">Contact</a></li>
													<li id="n-Impressum"><a href="http://www.flowchartwiki.org/wiki/index.php/Impressum">Impressum</a></li>
											</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-Sample_Processes' aria-labelledby='p-Sample_Processes-label'>
			<h3 id='p-Sample_Processes-label'>Sample Processes</h3>

			<div class="body">
									<ul>
													<li id="n-Getting-Started"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:GettingStarted">Getting Started</a></li>
													<li id="n-Flightbooking"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:Flightbooking">Flightbooking</a></li>
													<li id="n-List-of-Shapes"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:ShapeTest">List of Shapes</a></li>
													<li id="n-Test"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:Test">Test</a></li>
													<li id="n-Process-List"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:ProcessList">Process List</a></li>
													<li id="n-Value-Stream"><a href="http://www.flowchartwiki.org/wiki/index.php/Category:ValueStream">Value Stream</a></li>
											</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-tb' aria-labelledby='p-tb-label'>
			<h3 id='p-tb-label'>Tools</h3>

			<div class="body">
									<ul>
													<li id="t-specialpages"><a href="http://www.flowchartwiki.org/wiki/index.php/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li>
													<li id="t-print"><a href="http://www.flowchartwiki.org/wiki/index.php?title=Special:CheckFchw&amp;action=render&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>
											</ul>
							</div>
		</div>
				</div>
		</div>
		<div id="footer" role="contentinfo">
							<ul id="footer-places">
											<li id="footer-places-privacy"><a href="http://www.flowchartwiki.org/wiki/index.php/Flowchartwiki:Privacy_policy" title="Flowchartwiki:Privacy policy">Privacy policy</a></li>
											<li id="footer-places-about"><a href="http://www.flowchartwiki.org/wiki/index.php/Flowchartwiki:About" title="Flowchartwiki:About">About flowchartwiki</a></li>
											<li id="footer-places-disclaimer"><a href="http://www.flowchartwiki.org/wiki/index.php/Flowchartwiki:General_disclaimer" title="Flowchartwiki:General disclaimer">Disclaimers</a></li>
									</ul>
										<ul id="footer-icons" class="noprint">
											<li id="footer-copyrightico">
															<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><img src="/wiki/resources/assets/licenses/cc-by-nc-sa.png" alt="Creative Commons Attribution-NonCommercial-ShareAlike" width="88" height="31" /></a>
													</li>
											<li id="footer-poweredbyico">
															<a href="//www.mediawiki.org/"><img src="/wiki/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/wiki/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /wiki/resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31" /></a>
													</li>
									</ul>
						<div style="clear:both"></div>
		</div>
		<script>if(window.jQuery)jQuery.ready();</script><script>if(window.mw){
mw.loader.state({"site":"ready","user":"ready","user.groups":"ready"});
}</script>
<script>if(window.mw){
mw.loader.load(["mediawiki.user","mediawiki.hidpi","mediawiki.page.ready","mediawiki.searchSuggest"],null,true);
}</script>
<script>if(window.mw){
mw.config.set({"wgBackendResponseTime":149});
}</script>
	</body>
</html>
