<p><map name='046da26e45a5cdb2420f2b12d25f2af5'><area shape="poly" id="node1" href="DecisionMaking" title="DecisionMaking" alt="" coords="508,28,503,21,487,15,463,10,432,6,398,5,363,6,332,10,308,15,292,21,287,28,292,35,308,42,332,47,363,50,398,51,432,50,463,47,487,42,503,35"/><area shape="rect" id="node2" href="Download" title="Download" alt="" coords="342,118,453,164"/><area shape="rect" id="node3" href="Installation" title="Installation" alt="" coords="335,213,459,259"/><area shape="rect" id="node4" href="Customizing" title="Customizing" alt="" coords="329,308,466,354"/><area shape="rect" id="node5" href="EnterProcesses" title="EnterProcesses" alt="" coords="315,403,480,449"/><area shape="rect" id="node7" href="UserTraining" title="UserTraining" alt="" coords="526,403,667,449"/><area shape="rect" id="node8" href="Maintenance" title="Maintenance" alt="" coords="327,498,468,544"/><area shape="rect" id="node6" href="ImportExistingDocuments" title="ImportExistingDocuments" alt="" coords="5,403,269,449"/></map><img usemap='#046da26e45a5cdb2420f2b12d25f2af5' src='/wiki/images/flowchartwiki/046da26e45a5cdb2420f2b12d25f2af5.png?TimeStamp=20150730063343' />
</p><p>ToDo: Document the small training effort required to get users hooked to FlowChartWiki.
</p>
<ul><li> <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses" title="EnterProcesses">NextStep::EnterProcesses</a></li></ul>
<p><table width='80%' cellpadding='0' cellspacing='0' border='0' class='dependencies'><tr><td colspan='2' style='padding: 2pt; border: 1px solid black;'><strong>Type of page 'UserTraining':</strong> <a href="http://www.flowchartwiki.org/wiki/index.php/Rect_Red">Rect_Red</a><br /></td></tr><tr><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Where do I link to:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses">EnterProcesses</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td><td valign='top' style='padding: 2pt; border: 1px solid black;'><strong>Who links here:</strong><br /> &#160; <a href="http://www.flowchartwiki.org/wiki/index.php/EnterProcesses">EnterProcesses</a> (<a href="http://www.flowchartwiki.org/wiki/index.php/NextStep">NextStep</a>)<br /></td></tr></table>
<p><a href="http://www.flowchartwiki.org/wiki/index.php?title=Rect_Red&amp;action=edit&amp;redlink=1" class="new" title="Rect Red (page does not exist)">Type::Rect_Red</a>
<a href="http://www.flowchartwiki.org/wiki/index.php?title=1030&amp;action=edit&amp;redlink=1" class="new" title="1030 (page does not exist)">Level::1030</a>
</p>
<!-- 
NewPP limit report
CPU time usage: 0.021 seconds
Real time usage: 0.029 seconds
Preprocessor visited node count: 6/1000000
Preprocessor generated node count: 36/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 - -total
-->

<!-- Saved in parser cache with key flowchartwiki:pcache:idhash:28-1!*!0!*!*!*!* and timestamp 20180510093120 and revision id 246
 -->
